[Unit]
Description=clipboard manager base on rofi launcher
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/roficlipd
ExecStop=/bin/bash -c '`which killall` roficlipd'
Restart=on-failure

[Install]
WantedBy=multi-user.target